html {
    scroll-behavior: smooth;
    }

body{
    margin: 0;
}

.wrapper{
    background-color:#F3EAE8;
}

/*------------------------header------------------------------------------------*/

.header{
    background-image: url(image/footer_back/iron_texture81.jpg);
}

.header-container{
    width: 1220px;
    height: 114px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.header-nav{
    width: 600px;
}

.nav-list{
    margin-top: 41px;
    display: flex;
    justify-content: space-between;
}

.header-logo img{
    margin-top: 10px;
}

.nav-list-link{
    text-decoration: none;
    color: #0b1e6b;
    /*font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;*/
    font-size: 22px;
}

.nav-item{
    list-style-type: none;
}

/*--------------------------------------main-----------------------------------------*/

.main-container{
    max-width: 1220px;
    margin: 0 auto;
    background-color:#F3EAE8;
}

.section-one{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.first-info-block h1{
    font-size: 30px;
    font-weight: 700;
    line-height: 50px;
    color: #717171;
}

.info-text-one{
    margin-right: 100px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #717171;
}

.info-text-two{
    margin-right: 100px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #717171;  
}

.section-one-image{
    background-image: url(image/gear.jpg);
    background-size: cover;
    border-radius: 10px;
    width: 270%;
}

/*--------------------------------------section "contact us"-------------------------------*/

.contact-us{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    object-fit: contain;
}

.contact-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-us img{
    border-radius: 10px;
}

.contact-us h2{
    margin-top: -10px;
    font-size: 28px;
    font-weight: 700;
    line-height: 50px;
    color: #717171;
}

.adress{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #717171;  
}

.telephone{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 15px;
    color: #717171;  
    margin-top: -10px;
}

/*---------------------------------------footer------------------------------------*/

.footer{
    margin-top: 50px;
    background-image: url(image/iron_texture4024.jpg);
}

.footer-container{
    width: 1220px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-img{
    margin-top: -22px;
}

.social-item{
    list-style-type: none;
}

.social-item a{
    text-decoration: none;
}

.social-list{
    display:flex;
}

.social-list :not(:first-child){
    margin-left: 15px;
}

.footer-container p{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #0b1e6b;  
}
